body {
    padding: 10px;
    /* background-color: gray; */
}

/*  自定义css
.loginFrame{
    width:500px;
    margin: 50px auto;
}
.loginFrame h1{
    text-align: center;
}
.loginFrame .login_form{
    width: 100%;
    border: 1px solid lightgray;
    border-top: 4px solid darkcyan;
    padding: 20px 10px;
}
.login_form p{
    margin: 0;
    
}
.login_form input + p{
    margin-top: 15px;
}
.login_form input{
    display: inline-block;
    padding: 5px;
    width: 97%;
    border-radius:4px;
    outline: none;
}
.login_form input[type='submit']{
    background-color: darkcyan;
    padding:5px 15px;
    color: #fff;
    width: 15%;
    margin: 10px auto;
    text-align: center;
    border: none;
} */

.loginForm {
    margin-top: 150px;
}

.loginForm .column h1 {
    text-align: center;
}

.login_form {

    border: 1px solid lightgray;
    border-top: 4px solid darkcyan;
    padding: 20px 10px;
}

/* article 的css */
.article_home .container {
    min-height: 100vh;
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    flex-direction: column;
    border: 1px solid gray;
}

.article_home .main {
    display: flex;
    display: -webkit-flex;
    height: 75vh;
    align-items: stretch;
}

.article_home .aside {
    padding-top: 0;
    background-color: #000;
}

.article_home .aside .list-group-item {
    background-color: #000;
    border: none;
    border-left: 2px solid transparent;
    border-bottom: 1px solid transparent;
}

.article_home .aside .list-group-item:hover {
    border-left: 2px solid #80accd;
    border-bottom: 1px solid gray;
}

.article_home .aside .list-group-item a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.article_home .title {
    margin: 0 -15px;
    background-color: rgb(69, 174, 192);
    color: #fff;
    text-align: center;
}

.article_home .title h1 {
    margin-top: 0;

    padding: 10px;
}

.main textarea.form-control {

    height: 150px;
}

.main .adduser {
    float: right;
    vertical-align: middle;
    margin-bottom: 10px;
}

.page-header-0 {
    height: 80px;
}

.personInfo {
    margin-top: 15px;
}

.container table thead th {
    text-align: center;
}

.tipdiv {
    padding: 10px 0 20px;
}

.form-group {
    margin-bottom: 22px;
}

.aside .list-group div.active {
    background-color: #337ab7;
}

.tb_content {
    line-height: 1.5 !important;
  
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}